<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'data/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'text_save' %}">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'all_texts' %}">All Texts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'top_keywords' %}">Top Phrases</a>
          </li>
        </ul>
      </div>
    <button type="button" class="btn btn-primary"><a href="{% url 'text_save' %}">Create</a></button>

</nav>
{% block content %}

{% endblock %}
</body>
</html>