<!DOCTYPE html>
{% extends 'data/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    {{text.text_area}}
    <br><br>
    <form method="post">
        {% csrf_token %}
        <input type="submit" name="Keyphrases extract" value="Keyphrases extract"><br><br>
        {% for phrase in key_phrases %}
            {{phrase}}
            {% for k, v in wiki_urls.items %}
                {% if k == phrase and v != '' %}
                <a href="{{v}}">{{v}}</a>
                {% endif %}
            {% endfor %}
        <br>
            {% for kd, vd in disambiguation.items %}
                {% if kd == phrase and vd != '' %}
                <a href="{{vd}}">{{vd}}</a>
                {% endif %}
            {% endfor %}
            <br><br>
        {% endfor %}
        <br>

        <input type="submit" name="wikipedia_pages" value="Wikipedia">

<!--        {% for k, v in wiki_urls.items %}-->
<!--            {{k}} {{v}}-->
<!--            <br>-->
<!--        {% endfor %}-->
    </form>
        <br><br>
{% endblock%}
</body>
</html>