<!DOCTYPE html>
{% extends 'data/base.html' %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div >
      {% block content %}
        <form  class="page_form textarea" method="post" align="center">
          {%csrf_token%}
            {{form.errors}}
            {{form.text_area}}
            <br><br><br>
            <div class="clearfix">
              <button type="submit" name="save" class="btn btn-primary">Save</button>
            </div>
          <br>
        </form>
      {% endblock%}
      </div>
    </div>
  </div>

</body>
</html>