<!DOCTYPE html>
{% extends 'data/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="clearfix" id="container" align="center">
                <button type="submit" name="wikipedia_pages" value="Wikipedia" class="btn btn-primary"><h5>Wikipedia</h5></button>
            </div><br>
        </form>
        <div class="row">
            <table class="styled-table" style="width:100%">
                    <tr>
                        <td><strong><h4>Key phrase</h4></strong></td>
                        <td align="left"><strong><h4>Wikipedia Data</h4></strong></td>
                        <td align="center"><strong><h4>Count</h4></strong></td>
                    </tr>
                {% for field, value in all_keywords %}
                    <tr>
                        <td>{{ field }}</td>
                        <td>
                        {% for k, v in wiki_urls.items %}
                            {% if field == k and v != '' %}
                                <a href="{{v}}">{{v}}</a>
                            {% endif %}
                        {% endfor %}
                        {% for kd, vd in disambiguation.items %}
                            {% if kd == field and vd != '' %}
                                {{vd}}
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td align="center">{{value}}</td>
                    </tr>
                {% endfor %}
            </table><br>
        </div><br>
    </div>
{% endblock %}
</body>
</html>